body{
    background: no-repeat  url(background.png);
    
    }

    h1{
        font-size: 30px;
        font-family:  'Exo 2', sans-serif;
        font-weight: bold;
    }

    .name{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #282424
    }

    h1{
        text-align: center;
color:#ffffff;
    }